@font-face {
  font-family: EngraversOldEnglish;
  src: url("../asset/fonts/EngraversOldEnglish.otf");
}

:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  font-family: "Kantumruy Pro", sans-serif;
}

ul li {
  list-style-type: none;
}

.banner {
  width: 100%;
  padding: 34px 30px;
  height: 200px;
  background-color: #0c0c0c;
}

.banner-item {
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  transition: transform 1s ease-out;
  overflow: hidden;
}

.banner-item a {
  display: block;
  text-align: center;
  width: 100%;
  height: 100%;
}

.banner-item a > * {
  max-width: 100% !important;
  max-height: 100% !important;
  object-fit: contain;
}

nav {
  background-color: #0c0c0c;
  width: 100%;
  height: 40px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar {
  max-width: 844px;
  height: 100%;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#brand {
  text-decoration: none;
  font-size: 1.6rem;
  font-family: "EngraversOldEnglish";
  color: white;
  flex-shrink: 0;
}

.navbar-toggler {
  background: none;
  border: none;
}

.navbar-toggler i {
  color: white;
  font-size: 2rem;
}

.navbar-collapse {
  padding: 16px;
  display: none;
  position: absolute;
  top: 40px;
  left: 0px;
  width: 100%;
  background-color: #0c0c0c;
  z-index: 100;
  flex-grow: 1;
}

.nav-item {
  font-size: 1.6rem;
  cursor: pointer;
  text-align: center;
}

.nav-item a {
  padding: 16px 0;
  display: inline-block;
  width: 100%;

  text-decoration: none;
  color: #e6e6e6;
  transition: all 500ms ease-in-out;
}

.nav-item:hover a {
  color: white;
}

.search-box {
  width: 100%;
  height: 36px;
  margin: 0 auto;
  position: relative;
}

.search-box input {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  background-color: white;
  border: none;
  padding: 16px;
}

.search-box button {
  position: absolute;
  right: 16px;
  top: 8px;
  background: none;
  border: none;
}

main {
  padding: 32px 16px;
  max-width: 844px;
  margin: 0 auto;
}

.content {
  margin: 0 auto 32px auto;
  width: 100%;
  color: #0c0c0c;
  background-color: white;
  border-radius: 8px;
  padding: 8px;
  overflow: hidden;
}

.content h2,
.content p {
  line-height: 1.5;
}

.content img {
  width: 100%;
  height: auto;
  object-fit: contain;
  margin: 16px 0;
}

.info {
  margin-bottom: 8px;
  display: flex;
  flex-flow: column wrap;
  gap: 8px;
}

.title {
  font-size: 2rem;
}

.post-date {
  display: flex;
  align-items: center;
}

.post-date p {
  font-size: 1.4rem;
}

.post-date p abbr {
  text-decoration: none;
}

.post-date i {
  margin-right: 8px;
  font-size: 1.4rem;
}

.description p {
  font-size: 1.6rem;
}

.ads {
  display: none;
}

.ads-slider {
  /* padding: 0 16px 32px 16px; */
  max-width: 844px;
  margin: 0 auto;
  height: 120px;
  position: relative;
  overflow: hidden;
}

.ads-slider > button {
  border: none;
  background: none;
  padding: 10px;
  position: absolute;
  top: 50%;
  cursor: pointer;
  color: black;
  /* display: none; */
}

#btnAds-prev {
  left: 15px;
  transform: translate(0, -50%);
}

#btnAds-next {
  right: 15px;
  transform: translate(0, -50%);
}

.slides {
  display: flex;
  height: 100%;
  position: relative;
}

.slide {
  height: 100%;
  flex: 0 0 100%;
}

.slide a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
}

.slide a > * {
  max-width: 100% !important;
  max-height: 100% !important;
  object-fit: contain;
}

footer {
  background-color: #0c0c0c;
  color: white;
  text-align: center;
  padding: 32px;
}

footer h2 {
  font-family: "EngraversOldEnglish";
  font-size: 2.4rem;
}

.footer-item {
  padding-top: 20px;
}

.footer-item h3 {
  font-size: 1.8rem;
}

.footer-item ul {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.footer-item ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.4rem;
}

@media only screen and (min-width: 1024px) {
  nav {
    height: 50px;
  }

  .navbar {
    max-width: 1366px;
    padding: 0 32px;
  }

  #brand {
    font-size: 2rem;
  }

  .navbar-toggler {
    background: none;
    border: none;
    display: none;
  }

  .navbar-collapse {
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 32px;
    position: relative;
    top: 0;
    left: 0;
    padding: 0;
  }

  .nav-item {
    padding: 0;
  }

  .search-box {
    width: 228px;
  }

  main {
    max-width: 1366px;
    margin: 0 auto;
    padding: 32px;
  }

  .title {
    font-size: 2.4rem;
  }

  .post-date p {
    font-size: 1.8rem;
  }

  .post-date i {
    margin-right: 8px;
    font-size: 1.8rem;
  }

  .description p {
    font-size: 2rem;
  }

  .ads-slider {
    max-width: 1366px;
    /* padding: 0 32px 32px 32px; */
    height: 237px;
  }

  .ads-slider i {
    font-size: 1.8rem;
  }

  #btnAds-prev {
    left: 30px;
  }

  #btnAds-next {
    right: 30px;
  }

  footer h2 {
    font-size: 3.2rem;
  }

  .footer {
    margin: 0 auto;
    width: 70%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  .footer-item {
    min-width: 200px;
    padding-top: 32px;
    text-align: left;
  }

  .footer-item h3 {
    font-size: 2rem;
  }

  .footer-item ul {
    flex-direction: column;
    gap: 10px;
  }

  .footer-item ul li a {
    font-size: 1.6rem;
  }
}

@media only screen and (min-width: 1440px) {
  .navbar {
    max-width: 1440px;
    padding: 0 64px;
  }

  .search-box {
    width: 334px;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 250px;
    gap: 16px;
  }

  .ads {
    width: 250px;
    display: block;
    margin: 8px 0;
    overflow: auto;
  }

  .ads * {
    display: inline-block;
    width: 250px !important;
    height: auto !important;
    object-fit: cover !important;
  }

  .ads-slider {
    max-width: 1440px;
    /* padding: 0 64px 32px 64px; */
    margin: 0 auto;
  }

  .ads-slider i {
    font-size: 2.4rem;
  }
}
